

<html>
    <head>
        <title>ArDicSenti</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	
	<link rel="stylesheet" href="../../static/Data_Design/style.css" >
	
    </head>
<body>

<table>
		<tr>
			<td style='width: 30%;'>
				<img class = 'newappIcon' src="../../static/images/logo2.png"" alt="logo">
			</td>
			<td>
				<h1 id = "message">ArDicSenti</h1>
		<h2> Thanks For your contrubution now this word become a Missleading word you can Download it now for new Updates</h2>

	<br/>
<br/>

</body>
</html>
